@import url("blocks/variables.sccs");
@font-face {
  font-weight: 600;
  font-family: "Proxima Nova";
  font-style: normal;
  src: url("../../fonts/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova-Regular.woff2") format("woff2"); }

@font-face {
  font-weight: bold;
  font-family: "Proxima Nova";
  font-style: normal;
  src: url("../../fonts/ProximaNova-Bold.woff") format("woff"), url("../../fonts/ProximaNova-Bold.woff2") format("woff2"); }

* {
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  margin: 0px;
  padding: 0;
  line-height: 29px;
  font-family: "Proxima Nova", Arial, sans-serif;
  color: white; }

img {
  max-width: 100%;
  height: auto; }

ul li {
  list-style: none; }

a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none; }

.page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: url("../../../components/header.png") no-repeat;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  height: 900px; }

.page-header__logo {
  margin-top: 10px;
  margin-left: 10px; }

.main-nav {
  width: 1150px;
  margin: 0; }

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 0 auto; }

.site-list {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 1; }

.site-list__item {
  width: auto;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px; }

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: flex-end;
  flex-shrink: 0;
  flex-grow: 1; }

.social-list__item {
  margin-left: 15px; }

@media screen and (min-width: 1920px) {
  .page-header {
    height: 900px; }
  .main-nav {
    width: 1880px; }
  .social-list {
    margin-right: 40px; } }

.page-main {
  background: linear-gradient(to right bottom, #9B2500, #026088); }

.page-main__header {
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0.06em;
  padding-top: 57px; }

.page-main__wrapper {
  display: flex;
  width: 1195px; }

.page-main__photo {
  filter: drop-shadow(8px 8px 19px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  padding-top: 60px; }

.page-main__text {
  font-size: 19px;
  line-height: 29px;
  letter-spacing: 0.19em;
  font-weight: 800;
  padding-top: 60px;
  padding-left: 75px; }

.page-footer {
  background-color: #1B1B1B; }

.page-footer__header {
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 37px;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.06em; }

.page-footer__wrapper {
  width: 1200px;
  margin: 0 auto; }

.footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: space-between;
  margin: 0; }

.footer-list__item {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 0;
  width: 386px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 20px; }

.footer-list__link {
  padding-left: 20px; }
